
.project{
    height: 200px;
    width: 200px;
    margin: 0px;
    padding: 50px;
    border: 5px double black;
    align-items: center;
    background-color: beige;
}
.hover:hover{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    border: 3px solid red;
    
}

.active:active{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 30px;
    border: 3px solid red;
}

.focus:focus{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 30px;
    border: 3px solid red;
}

a:link{
    color: white;
    background-color: blue;
}
a:visited{
    color: green;
    background-color: aqua;
}